<!DOCTYPE html>
<html ng-app="mobius_app">
    <head>
        <meta http-equiv="Contenty-Type" content="text/html"; charset=UTF-8"/>
        <title>Upload form</title>
        <link rel="stylesheet" href={{ static_url("css/bootstrap.css") }}>
        <link rel="stylesheet" href={{ static_url("css/app.css") }}>
        <link rel="stylesheet" href={{ static_url("css/animations.css") }}>
        <link rel="stylesheet" href={{ static_url("css/angular-flash.min.css") }}>
        <link rel="stylesheet" href={{ static_url("css/mobius.css") }}>

        <script src={{ static_url("underscore/underscore-min.js") }}></script>
        <script src={{ static_url("js/jquery/jquery-2.1.4.min.js") }}></script>
        <script src={{ static_url("js/angular/angular.min.js") }}></script>
        <script src={{ static_url("js/angular/angular-animate.min.js") }}></script>
        <script src={{ static_url("js/angular/angular-route.min.js") }}></script>
        <script src={{ static_url("js/angular/angular-resource.min.js") }}></script>
        <script src={{ static_url("js/angular/ui-bootstrap-tpls-0.14.3.min.js") }}></script>
        <script src={{ static_url("js/angular/ng-file-upload-shim.min.js") }}></script>
        <script src={{ static_url("js/angular/ng-file-upload.min.js") }}></script>
        <script src={{ static_url("js/angular/angular-flash.min.js") }}></script>
        <script src={{ static_url("app/app.js") }}></script>
        <script src={{ static_url("app/animations.js") }}></script>
        <script src={{ static_url("app/controllers.js") }}></script>
        <script src={{ static_url("app/filters.js") }}></script>
        <script src={{ static_url("app/services.js") }}></script>
    </head>
  <body>
    <div class="container">
      <div ng-view></div>
    </div>
  </body>
</html>
