<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Contenty-Type" content="text/html"; charset=UTF-8"/>
        <title>Upload form</title>
        <link href="static/js/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css"/>
        <script src="static/js/dojo/dojo.js"; data-dojo-config="async: true"></script>
        <!--link href="static/js/dijit/themes/dijit.css" rel="stylesheet" type="text/css"/>
        <link
        href="//ajax.googleapis.com/ajax/libs/dojo/1.10.1/dijit/themes/claro/claro.css"
        rel="stylesheet" type="text/css" />
        <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.1/dojo/dojo.js"></script-->
    </head>
    <body class="claro" style="height:500px;widht:100%;">
      <div data-dojo-type="dijit/layout/BorderContainer"
           style="height:100%;width:100%;">
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'top'">
          <div data-dojo-type="dijit/MenuBar">
            <div data-dojo-type="dijit/PopupMenuBarItem">
              <span>File</span>
              <div data-dojo-type="dijit/DropDownMenu">
                <div data-dojo-type="dijit/MenuItem">Open</div>
                <div data-dojo-type="dijit/MenuItem">Save</div>
                <div data-dojo-type="dijit/PopupMenuItem">
                  <span>Recent...</span>
                  <div data-dojo-type="dijit/DropDownMenu">
                    <div data-dojo-type="dijit/MenuItem">Recent Item 1</div>
                    <div data-dojo-type="dijit/MenuItem">Recent Item 2</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'center'">
          <div data-dojo-type="dijit/Editor"></div>
        </div>

        <!--p><h1>Select & Upload</h1></p-->
        <form data-dojo-type="dijit/form/Form" enctype="multipart/form-data" action="/upload" method="post"
              data-dojo-props="region: 'bottom'">
            File: <input type="file" name="fileID" />
            Name: <input type="text" name="userID" />
            <br />
            <br />
            <input type="submit" value="upload" />
        </form> 

        <script>
            require(["dojo/parser"], function(parser){
                parser.parse();
            });
        </script>
    </body>
</html>
